# III. How do offered salaries compare to the prevailing wage?

## Are there job sub-categories that tend to get over-paid or under-paid?
## Are there companies that tend to over-pay or under-pay?

### Attorney

In [ ]:
SELECT employer_name,work_state, job_title_subgroup, paid_wage_per_year, prevailing_wage_per_year, paid_wage_per_year-prevailing_wage_per_year AS Diff
FROM salary_data_states_corrected
WHERE job_title_subgroup = "attorney"
ORDER BY paid_wage_per_year-prevailing_wage_per_year ASC
LIMIT 10
##7

In [3]:
(7/167278)*100

0.004184650701227896

In [ ]:
SELECT COUNT(job_title_subgroup)
FROM salary_data_states_corrected
WHERE job_title_subgroup = 'attorney'
##1488

### Assistant Professor

In [ ]:
SELECT employer_name,work_state, job_title_subgroup, paid_wage_per_year, prevailing_wage_per_year, paid_wage_per_year-prevailing_wage_per_year AS Diff
FROM salary_data_states_corrected
WHERE job_title_subgroup = "assistant professor"
ORDER BY paid_wage_per_year-prevailing_wage_per_year ASC
LIMIT 560
##547

In [4]:
(547/167278)*100

0.32700056193880844

In [ ]:
SELECT COUNT(job_title_subgroup)
FROM salary_data_states_corrected
WHERE job_title_subgroup = 'assistant professor'
##18866

### Business Analyst

In [ ]:
SELECT employer_name,work_state, job_title_subgroup, paid_wage_per_year, prevailing_wage_per_year, paid_wage_per_year-prevailing_wage_per_year AS Diff
FROM salary_data_states_corrected
WHERE job_title_subgroup = "business analyst"
ORDER BY paid_wage_per_year-prevailing_wage_per_year ASC
LIMIT 80
##77

In [5]:
(77/167278)*100

0.046031157713506854

In [ ]:
SELECT COUNT(job_title_subgroup)
FROM salary_data_states_corrected
WHERE job_title_subgroup = 'business analyst'
##27811

### Data Analyst

In [ ]:
SELECT employer_name,work_state, job_title_subgroup, paid_wage_per_year, prevailing_wage_per_year, paid_wage_per_year-prevailing_wage_per_year AS Diff
FROM salary_data_states_corrected
WHERE job_title_subgroup = "data analyst"
ORDER BY paid_wage_per_year-prevailing_wage_per_year ASC
LIMIT 10
##10

In [6]:
(10/167278)*100

0.005978072430325566

In [ ]:
SELECT COUNT(job_title_subgroup)
FROM salary_data_states_corrected
WHERE job_title_subgroup = 'data analyst'
##3840

### Data Scientist

In [ ]:
SELECT employer_name,work_state, job_title_subgroup, paid_wage_per_year, prevailing_wage_per_year, paid_wage_per_year-prevailing_wage_per_year AS Diff
FROM salary_data_states_corrected
WHERE job_title_subgroup = "data scientist"
ORDER BY paid_wage_per_year-prevailing_wage_per_year ASC
LIMIT 5
##4

In [8]:
(4/167278)*100

0.0023912289721302266

In [ ]:
SELECT COUNT(job_title_subgroup)
FROM salary_data_states_corrected
WHERE job_title_subgroup = 'data scientist'
##1227

### Management Consultant

In [ ]:
SELECT employer_name,work_state, job_title_subgroup, paid_wage_per_year, prevailing_wage_per_year, paid_wage_per_year-prevailing_wage_per_year AS Diff
FROM salary_data_states_corrected
WHERE job_title_subgroup = "management consultant"
ORDER BY paid_wage_per_year-prevailing_wage_per_year ASC
LIMIT 5
##2

In [9]:
(2/167278)*100

0.0011956144860651133

In [ ]:
SELECT COUNT(job_title_subgroup)
FROM salary_data_states_corrected
WHERE job_title_subgroup = 'management consultant'
##770

### Software Engineer

In [ ]:
SELECT employer_name,work_state, job_title_subgroup, paid_wage_per_year, prevailing_wage_per_year, paid_wage_per_year-prevailing_wage_per_year AS Diff
FROM salary_data_states_corrected
WHERE job_title_subgroup = "software engineer"
ORDER BY paid_wage_per_year-prevailing_wage_per_year ASC
LIMIT 310
##307

In [10]:
(307/167278)*100

0.18352682361099487

In [ ]:
SELECT COUNT(job_title_subgroup)
FROM salary_data_states_corrected
WHERE job_title_subgroup = 'software engineer'
##99364

### Teacher

In [ ]:
SELECT employer_name,work_state, job_title_subgroup, paid_wage_per_year, prevailing_wage_per_year, paid_wage_per_year-prevailing_wage_per_year AS Diff
FROM salary_data_states_corrected
WHERE job_title_subgroup = "teacher"
ORDER BY paid_wage_per_year-prevailing_wage_per_year ASC
LIMIT 105
##101

In [11]:
(101/167278)*100

0.060378531546288215

In [ ]:
SELECT COUNT(job_title_subgroup)
FROM salary_data_states_corrected
WHERE job_title_subgroup = 'teacher'
##13912

## Interpretation

What does this all reveal?
Well,there are 167,278 rows in the data set.