# III. How do offered salaries compare to the prevailing wage?

## Are there job sub-categories that tend to get over-paid or under-paid?
## Are there companies that tend to over-pay or under-pay?

In [20]:
((7+547+77+10+4+2+307+101)/167278)*100

0.6306866413993472

### Attorney

In [ ]:
SELECT employer_name,work_state, job_title_subgroup, paid_wage_per_year, prevailing_wage_per_year, paid_wage_per_year-prevailing_wage_per_year AS Diff
FROM salary_data_states_corrected
WHERE job_title_subgroup = "attorney"
ORDER BY paid_wage_per_year-prevailing_wage_per_year ASC
LIMIT 10
##7

In [3]:
(7/167278)*100

0.004184650701227896

In [ ]:
SELECT COUNT(job_title_subgroup)
FROM salary_data_states_corrected
WHERE job_title_subgroup = 'attorney'
##1488

In [19]:
(7/1488)*100

0.47043010752688175

### Assistant Professor

In [ ]:
SELECT employer_name,work_state, job_title_subgroup, paid_wage_per_year, prevailing_wage_per_year, paid_wage_per_year-prevailing_wage_per_year AS Diff
FROM salary_data_states_corrected
WHERE job_title_subgroup = "assistant professor"
ORDER BY paid_wage_per_year-prevailing_wage_per_year ASC
LIMIT 560
##547

In [4]:
(547/167278)*100

0.32700056193880844

In [ ]:
SELECT COUNT(job_title_subgroup)
FROM salary_data_states_corrected
WHERE job_title_subgroup = 'assistant professor'
##18866

In [18]:
(547/18866)*100

2.8993957383653135

### Business Analyst

In [ ]:
SELECT employer_name,work_state, job_title_subgroup, paid_wage_per_year, prevailing_wage_per_year, paid_wage_per_year-prevailing_wage_per_year AS Diff
FROM salary_data_states_corrected
WHERE job_title_subgroup = "business analyst"
ORDER BY paid_wage_per_year-prevailing_wage_per_year ASC
LIMIT 80
##77

In [5]:
(77/167278)*100

0.046031157713506854

In [ ]:
SELECT COUNT(job_title_subgroup)
FROM salary_data_states_corrected
WHERE job_title_subgroup = 'business analyst'
##27811

In [17]:
(77/27811)*100

0.27686886483765416

### Data Analyst

In [ ]:
SELECT employer_name,work_state, job_title_subgroup, paid_wage_per_year, prevailing_wage_per_year, paid_wage_per_year-prevailing_wage_per_year AS Diff
FROM salary_data_states_corrected
WHERE job_title_subgroup = "data analyst"
ORDER BY paid_wage_per_year-prevailing_wage_per_year ASC
LIMIT 10
##10

In [6]:
(10/167278)*100

0.005978072430325566

In [ ]:
SELECT COUNT(job_title_subgroup)
FROM salary_data_states_corrected
WHERE job_title_subgroup = 'data analyst'
##3840

In [16]:
(10/3840)*100

0.26041666666666663

### Data Scientist

In [ ]:
SELECT employer_name,work_state, job_title_subgroup, paid_wage_per_year, prevailing_wage_per_year, paid_wage_per_year-prevailing_wage_per_year AS Diff
FROM salary_data_states_corrected
WHERE job_title_subgroup = "data scientist"
ORDER BY paid_wage_per_year-prevailing_wage_per_year ASC
LIMIT 5
##4

In [8]:
(4/167278)*100

0.0023912289721302266

In [ ]:
SELECT COUNT(job_title_subgroup)
FROM salary_data_states_corrected
WHERE job_title_subgroup = 'data scientist'
##1227

In [15]:
(4/1227)*100

0.32599837000814996

### Management Consultant

In [ ]:
SELECT employer_name,work_state, job_title_subgroup, paid_wage_per_year, prevailing_wage_per_year, paid_wage_per_year-prevailing_wage_per_year AS Diff
FROM salary_data_states_corrected
WHERE job_title_subgroup = "management consultant"
ORDER BY paid_wage_per_year-prevailing_wage_per_year ASC
LIMIT 5
##2

In [9]:
(2/167278)*100

0.0011956144860651133

In [ ]:
SELECT COUNT(job_title_subgroup)
FROM salary_data_states_corrected
WHERE job_title_subgroup = 'management consultant'
##770

In [14]:
(2/770)*100

0.2597402597402597

### Software Engineer

In [ ]:
SELECT employer_name,work_state, job_title_subgroup, paid_wage_per_year, prevailing_wage_per_year, paid_wage_per_year-prevailing_wage_per_year AS Diff
FROM salary_data_states_corrected
WHERE job_title_subgroup = "software engineer"
ORDER BY paid_wage_per_year-prevailing_wage_per_year ASC
LIMIT 310
##307

In [10]:
(307/167278)*100

0.18352682361099487

In [ ]:
SELECT COUNT(job_title_subgroup)
FROM salary_data_states_corrected
WHERE job_title_subgroup = 'software engineer'
##99364

In [12]:
(307/99364)*100

0.30896501751137234

### Teacher

In [ ]:
SELECT employer_name,work_state, job_title_subgroup, paid_wage_per_year, prevailing_wage_per_year, paid_wage_per_year-prevailing_wage_per_year AS Diff
FROM salary_data_states_corrected
WHERE job_title_subgroup = "teacher"
ORDER BY paid_wage_per_year-prevailing_wage_per_year ASC
LIMIT 105
##101

In [11]:
(101/167278)*100

0.060378531546288215

In [ ]:
SELECT COUNT(job_title_subgroup)
FROM salary_data_states_corrected
WHERE job_title_subgroup = 'teacher'
##13912

In [13]:
(101/13912)*100

0.7259919493962047

## Interpretation

What does this all reveal?
Well overall, 0.63% of all jobs underpay their workers (the difference between paid wage per year and prevailing wage per year being negative).

Within the assistant professor job subgroup, 2.90% of jobs underpay their workers.
    (Overall Dataset 0.3270%)

Within the teachers, 0.73% of jobs underpay their workers.
    (Overall Dataset 0.604%)

Within the attorney job subgroup, 0.47% of jobs underpay their workers.
    (Overall Dataset 0.0042%)

Within the data scientist subgroup, 0.33% of jobs underpay their workers.
    (Overall Dataset 0.0024%)

Within the software engineer, 0.31% of jobs underpay their workers.
    (Overall Dataset 0.1835%)

Within the business analyst subgroup, 0.28 % of jobs underpay their workers.
    (Overall Dataset 0.0460%)

-Within the data analyst subgroup, 0.26% of jobs underpay their workers.
    (Overall Dataset 0.0060%)
-Within the management consultant subgroup, 0.26% of jobs underpay their workers.
    (Overall Dataset 0.0012%)